<div class="visit-form-box"> <%# visit-form-box というCSSクラスを持つボックス %>
    <h2>受診の予定を追加</h2>
    <%= form_with url: visits_path, method: :post, local: false, html: { id: "visit-form" } do |f| %> <%# form_withヘルパーを使って、Ajaxのフォームを作成。送信先URLは /visits（VisitsController#create）で、HTTPメソッドはPOST。local:false → Ajax送信を有効にする。フォームのIDは "visit-form"%>
      <%= f.hidden_field :visit_date, id: "visit_date" %><%# visit[visit_date] という名前の非表示（hidden）入力フィールドを生成。日付は、カレンダーから%>

      <%= f.label :hospital_name, "医療機関名" %><%# hospital_name 入力欄に対応するラベル「医療機関名」を表示 %>
      <%= f.select :hospital_name, ##hospital_name を選ぶための <select> メニューを生成
            options_for_select(["病院A", "クリニックB"]), ##ドロップダウンにする
            { prompt: "医療機関を選択" },
            { class: "form-select", id: "hospital_name" } %>
    <% end %>
</div>
