.btn-pink {
    background-color: #f48fb1;
    color: white;

    &:hover {
        background-color:  #ec6c9a;
        color: white;
    }
}

.btn-violet {
    background-color: #e38bf2;
    color: white;

    &:hover {
        background-color: #b941cf;
        color: white;
    }
}

.btn-outline-pink {
    color: #f06292;
    border-color: #f06292;
    background-color: transparent;
  
    &:hover {
      background-color: #f8bbd0;
      color: white;
    }
  }
