@use "variables" as *;

#calendar {
  max-width: 100%;
  margin: 0 auto;
  background-color: $flash-notice-bg;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba($secondary-hover, 0.2);
  cursor: pointer;
}

#schedule-list {
  max-width: 98%;
  background-color: $secondary-color;
  margin: 0 auto;
  border: 1px solid $secondary-color;
  border-radius: $small-radius;
  padding: 1rem;
  margin-bottom: 1rem;

  .bg-pink-light {
    background-color: $flash-alert-bg;
  }

  .visit-item {
    background-color: $white;
    border-left: 4px solid $secondary-hover;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: block;
    box-shadow: 0 2px 4px $shadow-light;
    border-radius: 4px;
  }
}

// ユーティリティクラス
.bg-pink-light {
  background-color: $background-gradient;
}

.border-pink {
  border: 1px solid $secondary-hover;
}

.text-pink {
  color: $flash-notice-border;
}

.memo-content p {
  text-align: left;
}
