.reset-password-mail {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    background-color: #fff;
  
    border: 1px solid #f8c8dc;
    border-radius: 12px;
    color: #4a4a4a;
  
    h2 {
      color: #f48fb1;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .btn-pink {
      @extend .btn;
      @extend .btn-pink;
    }
  
    .email-footer {
      font-size: 0.85rem;
      color: #888;
    }
  }
  